.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.highlighted {
  background-color: #000;
  color: #fff
}
.pageInput {
  width: 55px;
}
.pageInput > * {
  text-align: center;
}

#root, .full-height {
  height: 100vh;
  padding-top: 10px;
}

.controlMenu > * {
  padding-right: 5px;
}

/**
 * until https://github.com/facebook/create-react-app/issues/11771
 * gets fixed, let's hide the problem and not address it
 */
body > iframe[style*="2147483647"]:not([id="webpack-dev-server-client-overlay"]) {
  display: none;
}